body {
    font-family: 'Baloo Tamma 2', cursive;
    background-color: #f6f6f6;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .title {
    margin-top: 0;
    text-align: center;
    font-size: 3rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  input {
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 5px 10px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #facts {
    margin-top: 20px;
  }
  
  #spiritAnimal {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }
  